@model Domain.Model.MR_CCJLMX
@{
    ViewBag.Title = "Recharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var daLst = (List<Domain.Model.MR_CCDA>)ViewBag.Archives;
    var dianyuans = (List<Domain.Model.MR_DianYuan>)ViewBag.DianYuans;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

    <h4 class="modal-title">会员充值</h4>

</div>
<div class="modal-body">
    @using (Html.BeginForm("Recharge", "Member", FormMethod.Post, new { @class = "form-horizontal m-t" }))
    {
        @*<form class="form-horizontal m-t" id="commentForm">*@

        <div class="table-responsive m-t">
            <table class="table invoice-table">
                <thead>
                    <tr>
                        <th>充值金额</th>
                        <th>增值金额</th>
                        <th>赠送金额</th>
                        <th>赠送积分</th>
                        <th>实际到账金额</th>
                    </tr>
                </thead>
                <tbody id="rechargeDetail">
                    <script id="rechargeDetailtmpl" type="text/html">
                        <tr>
                            <td>¥{{KCJE}}</td>
                            <td>¥{{ZZJE}}</td>
                            <td>¥{{ZSJE}}</td>
                            <td>{{CZJF}}</td>
                            <td>¥{{KCJE+ZZJE+ZSJE}}</td>
                        </tr>
                    </script>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">充值金额：</label>
            <div class="col-sm-8">
                <select name="CZJE" class="form-control" onchange="app.changeRecharge(this)">
                    <option value="">请选择充值金额</option>
                    @foreach (var item in daLst)
                    {
                        <option value="@item.CZDM">@item.KCJE</option>
                    }

                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">充值店员：</label>
            <div class="col-sm-8">
                <select name="DYDM" id="DYDM" class="form-control">
                    <option value="">请选择店员</option>
                    @foreach (var item in dianyuans)
                    {
                        <option value="@item.DYDM">@item.DYMC</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary" type="button" id="saveRecharge">提交</button>
            </div>
        </div>
    }
</div>
<div class="modal-footer">
    @*<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary">保存</button>*@
</div>
@section styles{

    <script type="text/javascript">
        $().ready(function () {
            $("#saveRecharge").click(function () {
                var czdm = $("select[name='CZJE']").val();
                var dydm = $("select[name='DYDM']").val();
                if (czdm.length == 0) {
                    layer.alert("请选择充值档位");
                    return false;
                }
                if (dydm.length == 0)
                {
                    layer.alert("请选择充值店员");
                    return false;
                }

                $.post("/member/Recharge", { czdm: czdm, vipdm: '@ViewBag.vipdm',dydm:dydm }, function (resp) {
                    if (resp.code == 0) {
                        window.location.reload();
                    } else {
                        layer.alert("充值失败");
                    }
                })
            })
        });
    </script>
}